
.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.item {
    text-align: start;
    margin: 10px;
    margin-bottom: 3px;
}
.item p{
    margin-bottom: 3px;
    margin-top: 3px;
}
.item img {
    max-width: 260px;
    max-height: 1200px;
}
.text {
    margin-top: 5px;
}
