
/*Lucacia code*/
#first{
    border: 1px solid black;
    background-image: url(img/OUTFITS.jpg);
    height: 500px;
    padding-top: 200px;
    padding-left: 410px;
    background-repeat: no-repeat;
    background-size: cover;
    
}
#good{
    background-color: aliceblue;
    width: 500px;
    height: 250px;
    padding-top: 28px;
}
#discover{
    margin-top: 50px;
}
#valider{
    margin-top: 20px;
    background-color: black;
    color: white;
    height: 30px;
    width: 100px;
    border: none;
}
#new{
    color: aqua;
}
/*FIN Lucacia-Code*/

/*DUDE-CODE*/
.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.item {
    text-align: start;
    margin: 10px;
    margin-bottom: 3px;
}
.item p{
    margin-bottom: 3px;
    margin-top: 3px;
}
.item img {
    max-width: 260px;
    max-height: 1200px;
}
.text {
    margin-top: 5px;
}
/*END DUDE-Code*/
